page-history {
	tr td:first-child{text-decoration: underline;font-weight: bold;font-size: large; color: #107cb2;padding-right: 30px}
    table{margin: 40px auto; text-align: left;}
    #history{text-align: center;}
    h2{text-align: left; color: gray; text-decoration: underline;}
    .slides{height: auto!important};
}
